:root {
  --title-color: #212121;
  --text-color: #757575;
  --accent-color: #2196f3;
  --btn-color: #ffffff;
  --portfol-btn: #f5f4fa;
  --acent-btn-hover: #188ce8;
  --hero-bg-color: #2f303a;
  --main-bg-color: #e5e5e5;
}

body {
  font-family: "Roboto";
}

.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.header-logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--title-color);
}
.prelogo {
  color: var(--accent-color);
}

/* -----nav-menu----- */
.heder-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-color);
}
.heder-link:hover,
.heder-link:focus,
.current {
  color: var(--accent-color);
}

/* ----contacts-menu----- */
.heder-cont {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color);
}
.heder-cont:hover,
.heder-cont:focus {
  color: var(--accent-color);
}
/* ----Hero---- */
.hero-content {
  background-color: var(--hero-bg-color);
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--btn-color);
}
.hero-btn {
  cursor: pointer;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--btn-color);
  background: var(--accent-color);
}
.hero-btn:hover {
  background: var(--acent-btn-hover);
}

.main-content {
  background-color: var(--main-bg-color);
}
/* ---About---- */

.about-list-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-color);
}
.about-list-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
/* -----Service---- */

/* -----Masters----- */
.masters-item {
  background-color: var(--btn-color);
}
.masters-item-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}
.masters-item-text {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

/* -----Portfolio------- */
.main-portfolio {
  background-color: var(--main-bg-color);
}
/* ----Filter-Button------- */
.filter-btn {
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
  background-color: var(--portfol-btn);
}
.filter-btn:hover,
.filter-btn:focus {
  color: var(--btn-color);
  background-color: var(--accent-color);
}

/* ------Cards------- */
.card-item {
  background-color: var(--btn-color);
}
.card-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
}
.card-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

/* -----Foooter----- */
.footer {
  background-color: var(--hero-bg-color);
}
.footer-logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: var(--btn-color);
}
.footer-adress {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--btn-color);
}
.footer-cont {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-cont:hover,
.footer-cont:focus {
  color: var(--accent-color);
}
